@model AlbumsFiltreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Filtre</h1>
<form asp-action="Filtre">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <select asp-for="GroupeId" asp-items="@ViewBag.Groupes">
        <option>---</option>
    </select>
    <div class="form-group">
        <label asp-for="NoteCritiqueMin" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NoteCritiqueMin" class="form-control"/>
            <span asp-validation-for="NoteCritiqueMin" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NbVenteMin" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NbVenteMin" class="form-control"/>
            <span asp-validation-for="NbVenteMin" class="text-danger"></span>
        </div>
    </div>
    <input type="submit">
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            Pochette
        </th>
        <th>
            @Html.DisplayNameFor(model => model.albums.First().Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.albums.First().DatePublication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.albums.First().NombreVentes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.albums.First().NoteCritiques)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.albums.First().Groupe)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.albums)
    {
        <tr>
            <td>
                <img style="height: 200px; width: 200px" src="data:image/png;base64,@Convert.ToBase64String(item.CoverContent)" alt="pochette @item.Nom"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePublication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreVentes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteCritiques)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Groupe.Nom)
            </td>
        </tr>
    }
    </tbody>
</table>